
/* first row start */
    header {
        display: flex;
        width: 1200px;
        padding-left: calc((100% - 1200px)/2);
        padding-right: calc((100% - 1200px)/2);
        height: 50px;
        justify-content: space-between;
        position: relative;
        background-color: #EEEEEE;
    }
        header > div {
            display: flex;
            align-items: center;
            
        }
        header > div:nth-child(2){
            justify-self: center;
            position: absolute;
            top: 8%;
            left: 50%;
        }
        header > div:nth-child(3){
            justify-content: end;
            
        }
        

            header > div > img {
                object-fit: none;
            }
            .email{
                margin-right: 5px;
                margin-left: 5px;
            }
            .img-phone{
                margin-left: 25px;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                color: black;
            }
            
            .a-2column {
                margin-right: 5px;
                margin-left: 5px;
            }
            .a-3column {
                margin-right: 5px;
                margin-left: 5px;
            }

/* first row end */

/* second row start */
    .div-row2 {
        background-color: #F7F7F7;
        display: flex;
        width: 1200px;
        padding-left: calc((100% - 1200px)/2);
        padding-right: calc((100% - 1200px)/2);
    }
        nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 30px;
        }
            nav > a {
                display: flex;
                text-transform: uppercase;
                margin-left: auto;
                margin-right: auto;
            }
                .arrow {
                    border: solid black;
                    border-width: 0 1px 1px 0;
                    display: flex;
                    padding: 3px;
                    height: 0px;
                    margin: 5px;
                    margin-left: 20px;
                }
                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                  }

/*  second row end*/
